@*
PDF Blender - A web based pdf merger powered by iText
Copyright (C) 2022 freshbit

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@model PdfBlender.ViewModels.UploadViewModel

<p class="text-center">
    <small>
        <em>PDF Blender</em> merges PDF documents <em>online</em> <em>on the fly</em><br/>
        Drop your files in the upload box
    </small>
</p>

<h3 class="text-center">1. Setup</h3>

<form method="post" asp-action="Upload" id="pdf-merger-upload-form">
    <div class="flex-group">
        <!-- flex item -->
        <div>
            <div class="input-group">
                <label for="pdf-merger-upload-file-name">Output filename</label>
                <input asp-for="FileName" type="text" id="pdf-merger-upload-file-name"/>
            </div>
        </div>

        <!-- flex item -->
        <div>
            <div class="input-group">
                <label for="pdf-merger-upload-language">Language</label>
                <input asp-for="Language" type="text" id="pdf-merger-upload-language"/>
            </div>
        </div>

        <!-- flex item -->
        <div>
            <div class="input-group">
                <div class="input-checkbox">
                    <input asp-for="Tagged" type="checkbox" id="pdf-merger-upload-accessible"/>
                    <label for="pdf-merger-upload-accessible">Tagged PDF (accessibility)</label>
                </div>
            </div>
        </div>
    </div>
</form>

<h3 class="text-center">2. Upload</h3>

<div id="pdf-merger-upload-container">
    <div>Drop PDF files</div>
</div>

<div id="pdf-merger-progress-container">
    <div id="pdf-merger-progress-bar" aria-valuenow=""></div>
</div>

<div id="pdf-merger-message-container"></div>

<div>
    <p class="text-center">
        <small>
            This app is provided free of charge without any warranty.<br/>
            Your content and privacy are respected – <strong>documents are not stored/saved on the server</strong>.<br/>
            Uploaded pdf files are immediately disposed from memory when a merge is done.
        </small>
    </p>
</div>

@section Scripts
{
    <script src="~/js/filedrop.js" asp-append-version="true"></script>
    <script>
    (function () {
        const progressBar = document.querySelector('#pdf-merger-progress-bar');
        const dropContainer = document.querySelector('#pdf-merger-upload-container');
        const messageContainer = document.querySelector('#pdf-merger-message-container');
        const uploadForm = document.querySelector('#pdf-merger-upload-form');
        const genericErrorMessasge = 'Something went wrong. Sorry ¯\\_(ツ)_/¯';
        
        const options = {
            url: uploadForm.getAttribute('action'),
            form: uploadForm,
            inputName: 'files',
            maxFileSize: 5,
            maxFileCount: 100,
            allowedFileTypes: ['application/pdf','application/x-pdf']
        };
        
        const resetUi = function () {
            progressBar.style.width = '0';
            progressBar.innerHTML = '';
            progressBar.setAttribute('aria-valuenow', '');
            messageContainer.innerHTML = '';
        };
        
        //try to prevent chaos
        const togggleContainer = function (show) {
            dropContainer.style.display = show ? 'block' : 'none';
        };

        //file uploader
        const uploader = new FileDrop(dropContainer, options);
        
        //when the upload starts
        uploader.start = function () {
            togggleContainer(false);
            resetUi();
        };
        
        //callback updating progress
        uploader.progress = function (sent, progress) {
            progressBar.setAttribute('aria-valuenow', progress + '');
            progressBar.style.width = '' + progress + '%';
            progressBar.innerHTML = '' + progress + '%';
        };
        
        //wrong files etc
        uploader.validationError = function (errorCode) {
            messageContainer.innerHTML = FileDropValidationError[errorCode];
        };
        
        uploader.success = function () { };
        
        //UI cleanup
        uploader.complete = function () {
            setTimeout(function () {
                togggleContainer(true);
                resetUi();
            }, 5000);
        };
        
        //Unknown error
        uploader.error = function () {
            messageContainer.innerHTML = genericErrorMessasge;
        };
    }());
    </script>
}